.cards {
    display: flex;
}
.card>img {
    width: 50px;
    height: 30px;
}
.card{
   justify-content: center;
   align-items: center;
  
}
#right,
#wrong {
    height: 20px;
    width: 20px;
}

#arrow {
    height: 40px;
    width: 40px;

}

#chevron {
    height: 60px;
    width: 60px;
    margin: 10px;

}

.pink {
    background-color: #EC2E80;
}

.up-vertical {
    border-left: 6px solid black;
    height: 100px;


}

.down-vertical {
    border-left: 6px solid black;
    height: 100px;

    left: 50%;
}

.arrdiv {
    display: flex;
    flex-direction: column;
    margin: 40px;

    align-items: center;
}

.consult {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF2F5;
    width: 100%;
}

.purple {
    color: #EC2E80;
}

.one {
    color: white;
    align-items: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-image: url('background.png');
}

.topone {
    display: flex;

    justify-content: center;
}

.advan>.newtwo>img {
    width: 50px;
    height: 50px;
}

.advan {
    display: flex;
    background-color: #EEF2F5;
    justify-content: center;
}
.newtwo{
    align-items: center;
    
   flex-direction: row;
    display: flex;
}
.two {
    align-items: center;
   
    display: flex;
}

.bottomone {
    display: flex;

    justify-content: center;
}

.leftone {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.rightone {
    display: flex;
    flex-direction: column;
    top: 5%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    color: blue;
    margin: 10px;
}
.blue{
   color: #257AC0;

}
.darkblue
{
    color: #21426E;
 
 }
 .newblue
 {
    color: #3B7DC1;
 
 }
 .twoimg{
   display: flex;
 
 }
 .twoimg>img{
    width: 50px;
    height: 50px;
  
  }
 

.black{
    color: black;
    font-size: 10px;
 
 }
.card>p {
    font-size: 50px;

}

.cards {
    display: flex;

}

#fname,
#lname {
    width: 250px;
    height: 40px;
}

.submit {
    width: 250px;
    height: 40px;
}

.rightbottom {

    color: blue;
}

.three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(92, 92, 234);
}

.threeup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

tr {
    border: 1px solid grey;
    margin: 30px;
    padding: 30px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;

}

.four {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    color: #EC2E80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.five {
    color: #24456F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.five>button {
    color: #24456F;
    width: 700px;
    border-color: aliceblue;
    background-color: white;
    border-radius: 5px;
    margin: 10px;

}

.chooseus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEF2F5;
}

.two>img {

    width: 50px;
    height: 50px;
}

.two {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.half {
    display: flex;
    flex-direction: column;
}

.halfup,
.halfdown {
    display: flex;

}

.white {
    color: white;

}

.blue {
    color: #80AAD5;

}

.six {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixdiv {
    display: flex;

}

.sumup {
    display: flex;
    flex-direction: column;
}
.seven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF2F5;
    height: 250px;
    
    
}
.sevenbtn{
    display: flex;
  
    justify-content: center;
    align-items: center;
}
button{
  width: 200px;
}
.sevenhead{
    display: flex;
  flex-direction: row;
 
}
.medfin{
    color: white;
    margin-left: 10px;
    background-color: grey;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #257AC0;
 height: 50px;
 color:white ;
}